.nav-bar {
    display: flex;
    flex-direction: row; 
    padding: 30px;
    align-items: center;
}

.nav-logo {
    width: 50%;
    height: auto;
}
  
.nav-text {
    font-size: 14px;
    text-align: right; 
}

.nav-text ul {
    list-style-type: none;
}

.image-container {
    position: relative;
}

.image-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity here (0.5 means 50% opacity) */
}
  
.banner {
    width: 100%;
    height: auto;
}
  
.headline {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: white;
    font-size: 6em;
    font-family: 'Afacad', sans-serif;
    font-weight: bold;
}

.headline-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: white;
    font-size: 2em;
    font-family: 'Afacad', sans-serif;
}

@media only screen and (max-width: 768px) {
    .headline {
        font-size: 3.1em;
    }

    .headline-block {
        font-size: 1.4em; 
        top: 60%;
    }
}

.headline-block ul {
    list-style-type: none;
    padding: 0;
}

.separator {
    border: none;
    height: 4px; /* Adjust thickness as needed */
    background-color: white; /* Change color as needed */
    margin: 20px auto; /* Adjust spacing as needed */
    position: absolute;
    top: 28%; /* Adjust position to be below headline */
    left: 50%;
    transform: translateX(-50%);
    width: 50%; /* Adjust width as needed */
    max-width: 200px; /* Adjust max width as needed */
}

.body-bio {
    display: flex;
    flex-direction: row; 
    padding: 30px;
    align-items: center;
}

.headshot {
    width: 80%;
    height: auto;
}
  
.bio-paragraph {
    font-size: 14px;
    text-align: left; 
}

.body-will {
    background-color: black;
    color: white;
}

.footer {
    background-color: black;
    color: white;
}